@import '../../../../../styles.scss';


.dialog-container {
    width: 100%;
    padding: 24px;
    background: linear-gradient(
        to bottom right, 
        rgba(183, 13, 32, 0.6),
        rgba(183, 13, 32, 1) 
    );
    border: 1px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    @include dFlex($fd: column, $jc: flex-start, $ai: center);
    gap: 10px;
    position: relative;
    text-align: center;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
}

mat-icon {
    color: white;
}

h1 {
    padding-top: 10px;
    color: white;
    font-weight: 700;
}

p {
    color: white;
    margin-top: -10px;
    margin-bottom: 5px;
    
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    color: white; // Schriftfarbe weiß
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5); // Leichte weiße Umrandung
    text-align: left;
}

th {
    background-color: rgba(255, 255, 255, 0.2); // Transparenter weißer Hintergrund
}

td {
    background-color: rgba(255, 255, 255, 0.1); // Etwas dunkler für Kontrast
}