<div class="main-container">
    <div class="left">
        <img class="img1" src="assets/img/sam_dummy.png" alt="">
        <img class="mail-icon" src="assets/img/icons/nl.png" alt="">
    </div>

    <div class="right">
        <div class="advertorial-box">
            <!-- <h2>Advertorial-Angebot</h2> -->
            <ul class="advertorial-list">
                <li>{{ getTranslation('ONLINE.CONTENT.SAM1') }}</li>
                <li>{{ getTranslation('ONLINE.CONTENT.SAM2') }}</li>
                <li>{{ getTranslation('ONLINE.CONTENT.SAM3') }}</li>
                <li>{{ getTranslation('ONLINE.CONTENT.SAM4') }}</li>
                <li>{{ getTranslation('ONLINE.CONTENT.SAM5') }}</li>
            </ul>
            <div class="advertorial-price">
                <div class="price-element">
                    <p>Standalone Cash. 5vor5-Newsletter</p>
                    <h3>{{ getTranslation('ONLINE.CONTENT.SAM6') }}</h3>
                    <p>{{ getTranslation('ONLINE.CONTENT.SAM7') }}*</p>
                </div>
                <div class="price-element">
                    <p>Standalone Cash.OnVista-Newsletter</p>
                    <h3>{{ getTranslation('ONLINE.CONTENT.SAM8') }}</h3>
                    <p>{{ getTranslation('ONLINE.CONTENT.SAM9') }}*</p>
                </div>
            </div>
        </div>
    
    
    </div>

</div>
