<div class="dialog-container">
    <button (click)="closeDialog()" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
    </button>
    <h1>TIKTOK VIDEO AD</h1>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.TIKTOK.T2') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.TIKTOK.T3') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.TIKTOK.T4') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.TIKTOK.T5') }}
    </p>

    <h1>{{ getTranslation('ONLINE.LINKEDIN.LI12') }} 75,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
</div>
