<div class="main-container">
    <div class="row first">
        <div class="left">
            <div class="advertorial-box">
                <h1>{{ getTranslation('PRINT.AWARDS.A1') }}</h1>
                <p>{{ getTranslation('PRINT.AWARDS.A2') }}</p>
                <h2>{{ getTranslation('PRINT.AWARDS.A3') }}</h2>
                <p>{{ getTranslation('PRINT.AWARDS.A4') }}</p>
            </div>
            
        </div>
        <div class="right">
    
            <div class="images-top">
                <div class="images-top-1">
                    <img src="assets/img/siegel-print1.jpg" alt="">
                    <img src="assets/img/siegel-print2.jpg" alt="">
                </div>
                <img src="assets/img/siegel-print3.png" alt="">
                <!-- <div class="images-top-2">
                    <img src="assets/img/siegel3.jpg" alt="">
                </div> -->
            </div>
        </div>
    </div>

    <div class="row mt--20">
        <div class="right">
            <div class="img-bottom-container">
                <div class="images-bottom">
                    <img src="assets/img/siegel-print8.png" alt="">
                    <img src="assets/img/siegel-print4.jpg" alt="">    
                </div>
                <div class="images-bottom">
                    <img src="assets/img/siegel-print5.jpg" alt="">
                    <img src="assets/img/siegel-print6.png" alt="">
                    <img src="assets/img/siegel-print7.png" alt="">
                </div>
            </div>
        </div>

        <div class="left">
            <div class="advertorial-box">
                <h2>{{ getTranslation('PRINT.AWARDS.A5') }}</h2>
                <p><b>{{ getTranslation('PRINT.AWARDS.A6') }} </b>{{ getTranslation('PRINT.AWARDS.A7') }}</p>
                <p><b>{{ getTranslation('PRINT.AWARDS.A8') }} </b>{{ getTranslation('PRINT.AWARDS.A9') }}</p>
                <p><b>{{ getTranslation('PRINT.AWARDS.A11') }} </b>{{ getTranslation('PRINT.AWARDS.A12') }}</p>
                <p><b>{{ getTranslation('PRINT.AWARDS.A13') }} </b>{{ getTranslation('PRINT.AWARDS.A14') }}</p>
                <p>{{ getTranslation('PRINT.AWARDS.A10') }}</p>
            </div>
        </div>
    </div>
    
</div>
