<div class="information">
    <div class="company w-100">
        <h2>{{getTranslation('PRINT.SPECS.S1')}}</h2>

        <table>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S2')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S3')}}</td>
            </tr>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S4')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S5')}}</td>
            </tr>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S6')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S7')}}</td>
            </tr>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S8')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S9')}}</td>
            </tr>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S10')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S11')}}</td>
            </tr>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S12')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S13')}}</td>
            </tr>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S14')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S15')}}</td>
            </tr>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S16')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S17')}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="information second">
    <div class="company w-100">
        <h2>{{getTranslation('PRINT.SPECS.S18')}}</h2>
        <ul class="advertorial-list">
            <li>{{ getTranslation('PRINT.SPECS.S19') }}</li>
            <li>{{ getTranslation('PRINT.SPECS.S20') }}</li>
            <li>{{ getTranslation('PRINT.SPECS.S21') }}</li>
            <li>{{ getTranslation('PRINT.SPECS.S22') }}</li>
        </ul>
        <table>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S23')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S27')}}</td>
            </tr>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S24')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S27')}}</td>
            </tr>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S25')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S27')}}</td>
            </tr>
            <tr>
                <td>{{getTranslation('PRINT.SPECS.S26')}}</td>
                <td>{{getTranslation('PRINT.SPECS.S27')}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="information second">
    <div class="company h-274">
        <h2>{{getTranslation('PRINT.SPECS.S28')}}</h2>
        <p>{{getTranslation('PRINT.SPECS.S29')}}</p>
    </div>
    <div class="company h-274">
        <h2>{{getTranslation('PRINT.SPECS.S30')}}</h2>
        <p>{{getTranslation('PRINT.SPECS.S31')}}</p>
        <ul class="advertorial-list">
            <li>{{getTranslation('PRINT.SPECS.S32')}}</li>
            <li>{{getTranslation('PRINT.SPECS.S33')}}</li>
            <li>{{getTranslation('PRINT.SPECS.S34')}}</li>
        </ul>

    </div>
</div>
<div class="information second">
    <div class="company h-256">
        <h2>{{getTranslation('PRINT.SPECS.S35')}}</h2>
        <p>{{getTranslation('PRINT.SPECS.S36')}}</p>
    </div>
    <div class="company h-256">
        <h2>{{getTranslation('PRINT.SPECS.S37')}}</h2>
        <p>{{getTranslation('PRINT.SPECS.S38')}}</p> <br>
        <p><b>{{getTranslation('PRINT.SPECS.S39')}}</b></p>
        <p>{{getTranslation('PRINT.SPECS.S40')}}</p>
    </div>
</div>
<div class="information second">
    <div class="company">
        <h2>{{getTranslation('PRINT.SPECS.S41')}}</h2>
        <p>{{getTranslation('PRINT.SPECS.S42')}}</p>
        <p>{{getTranslation('PRINT.SPECS.S43')}}</p>
        <p>{{getTranslation('PRINT.SPECS.S44')}}</p>
        <p>{{getTranslation('PRINT.SPECS.S45')}}</p>
        <p>{{getTranslation('PRINT.SPECS.S46')}}</p>
        <p>{{getTranslation('PRINT.SPECS.S47')}}</p>
        <p>{{getTranslation('PRINT.SPECS.S48')}}</p>
        <p>{{getTranslation('PRINT.SPECS.S49')}}</p>
    </div>
    <div class="company">
        <h2>{{getTranslation('PRINT.SPECS.S50')}}</h2>
        <img src="assets/img/ivw.png" alt="">
    </div>
</div>
