@import '../../../../styles.scss';

.main-container {
    width: 100%;
    box-sizing: border-box;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
    gap: 30px;  
}

.router-container {
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;

}

.btn-area {
    width: 100%;
    box-sizing: border-box;
    @include dFlex($fd: row, $jc: space-around, $ai: flex-start);
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.53);
    border-radius: 15px;
    padding: 10px;
}

button {
    background-color: rgba(205,104,106,1) !important;
    color: white !important;
    font-weight: 400 !important;
    border-radius: 10px !important;
    width: 50px;
    height: 50px;
    min-width: auto !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: visible !important;
    position: relative;
}

.custom-mat-button img {
    height: 30px;
    padding-top: 20px;
    display: block !important;
}

button.active {
    background-color: #b70d20 !important; // Rote Hintergrundfarbe als Beispiel 
    font-weight: bold !important;
}

@media (max-width: 1000px) {
    .btn-area {
        flex-wrap: wrap;
        // @include dFlex($fd: row, $jc: center, $ai: flex-start);
        gap: 10px;
        // width: auto !important;
    }
}

@media (max-width: 400px) {
    .main-container {
        padding: 10px;
    }
    button {
        width: 40px;
        height: 40px;
    }
}