<div class="information">
    <div class="container">
        <h2>{{getTranslation('PRINT.AGB.A25')}}</h2>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A1')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A26')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A2')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A27')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A3')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A28')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A4')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A29')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A5')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A30')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A6')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A31')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A7')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A32')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A8')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A33')}}</p>
        <p>{{getTranslation('PRINT.AGB.A34')}}</p>
        <p>{{getTranslation('PRINT.AGB.A35')}}</p>
        <p>{{getTranslation('PRINT.AGB.A36')}}</p>
        <p>{{getTranslation('PRINT.AGB.A37')}}</p>
        <p>{{getTranslation('PRINT.AGB.A38')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A9')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A39')}}</p>
        <p>{{getTranslation('PRINT.AGB.A40')}}</p>
        <p>{{getTranslation('PRINT.AGB.A41')}}</p>
        <p>{{getTranslation('PRINT.AGB.A42')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A10')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A43')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A11')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A44')}}</p>
        <p>{{getTranslation('PRINT.AGB.A45')}}</p>
        <p>{{getTranslation('PRINT.AGB.A46')}}</p>
        <p>{{getTranslation('PRINT.AGB.A47')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A12')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A48')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A13')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A49')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A14')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A49A')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A15')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A50')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A16')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A51')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A17')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A52')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A18')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A53')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A19')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A54')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A20')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A55')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A21')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A56')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A22')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A57')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A23')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A58')}}</p>

        <p class="pt-10"><b>{{getTranslation('PRINT.AGB.A24')}}</b></p>
        <p>{{getTranslation('PRINT.AGB.A59')}}</p>
        <p>{{getTranslation('PRINT.AGB.A60')}}</p>
        <p>{{getTranslation('PRINT.AGB.A61')}}</p>
        <p>{{getTranslation('PRINT.AGB.A62')}}</p>
        <p>{{getTranslation('PRINT.AGB.A63')}}</p>
        <p>{{getTranslation('PRINT.AGB.A64')}}</p>
        <p>{{getTranslation('PRINT.AGB.A65')}}</p>


    </div>
</div>