<div class="main-container">
    
    <div class="right">
        <div class="advertorial-box">
            <h1>XING SPONSORED POST</h1>
            <div class="btn-area">
                <a mat-flat-button (click)="openDialog()"><mat-icon>chevron_right</mat-icon>{{ getTranslation('ONLINE.LINKEDIN.LI1') }}</a>
                <a mat-flat-button href="https://www.xing.com/pages/cash-media-group-860" target="_blank">
                    <mat-icon>chevron_right</mat-icon> {{ getTranslation('ONLINE.XING.XING1') }}
                </a>            
            </div>
        </div>
    </div>
    <div class="left">
        <img class="img1" src="assets/img/xing.png" alt="">
    </div>
</div>