<div class="dialog-container">
    <button (click)="closeDialog()" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
    </button>
    <h1>INSTAGRAM: AD IN STORY</h1>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.INSTAGRAM.IN8') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.INSTAGRAM.IN10') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.INSTAGRAM.IN11') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.INSTAGRAM.IN12') }}
    </p>

    <h1>{{ getTranslation('ONLINE.LINKEDIN.LI12') }} 75,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
</div>
