<div class="main-container">
    <div class="format-container">

        <div class="format">
            <div class="illustration">
                <div class="image"></div>
                <div class="interstitial-ad"></div>
                <div class="border-bottom">
                    <div class="footer-transparent"></div>
                    <div class="grey"></div>
                </div>
            </div>
            <div class="infos">
                <h1>Interstitial</h1>
                <p class="red-text">(desktop, tablet, mobile)</p>
                <p class="main-infos">{{ getTranslation('ONLINE.LAYER.TEXT_INTER') }}</p>
                <h1 class="h-bottom">139,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
            </div>
        </div>

        <div class="format">
            <div class="illustration">
                <div class="image"></div>
                <div class="border-bottom">
                    <div class="footer-transparent red"></div>
                    <div class="grey"></div>
                </div>
            </div>
            <div class="infos">
                <h1>Sticky Footer</h1>
                <p class="red-text">(desktop, tablet, mobile)</p>
                <p class="main-infos">{{ getTranslation('ONLINE.LAYER.TEXT_STICKY') }}</p>
                <h1 class="h-bottom">99,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
            </div>
        </div>

        <div class="format">
            <div class="illustration">
                <div class="image-parallax front">
                    <img src="assets/img/hp_dummy_top2.png" alt="">
                    <img src="assets/img/hp_dummy_bottom3.png" alt="">
                </div>
                <div class="parallax-ad"></div>
                <div class="border-bottom">
                    <div class="footer-transparent"></div>
                    <div class="grey"></div>
                </div>
            </div>
            <div class="infos">
                <h1>Parallax</h1>
                <p class="red-text">(desktop, tablet, mobile)</p>
                <p class="main-infos">{{ getTranslation('ONLINE.LAYER.TEXT_PARA') }}</p>
                <h1>115,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
            </div>
        </div>
    </div>
</div>
