<div class="dialog-container">
    <button (click)="closeDialog()" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
    </button>
    <h1>LINKEDIN SPONSORED CONTENT</h1>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.LINKEDIN.LI3') }}
    </p>

    <h2>{{ getTranslation('ONLINE.LINKEDIN.LI4') }}</h2>
    <ul class="target-group-list">
        <li>{{ getTranslation('ONLINE.LINKEDIN.LI5') }} <span>14.000</span></li>
        <li>{{ getTranslation('ONLINE.LINKEDIN.LI6') }} <span>13.000</span></li>
        <li>{{ getTranslation('ONLINE.LINKEDIN.LI7') }}<span>4.400</span></li>
        <li>{{ getTranslation('ONLINE.LINKEDIN.LI8') }}<span>4.100</span></li>
        <li>{{ getTranslation('ONLINE.LINKEDIN.LI9') }}<span>3.000</span></li>
        <li>{{ getTranslation('ONLINE.LINKEDIN.LI10') }}<span>570</span></li>
    </ul>

    <p class="total">{{ getTranslation('ONLINE.LINKEDIN.LI11') }} <strong>38.000</strong></p>

    <h1>{{ getTranslation('ONLINE.LINKEDIN.LI12') }} 139,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
</div>
