<div class="main-container">

    <div class="mobile-element">
        <div class="illustration">
            <img src="assets/img/icons/mobile-thin.svg" alt="">
            <div class="mobile-content">
                <img src="assets/img/mobile1.png" alt="">
            </div>
        </div>
        <div class="infos">
            <h1>Mobile Ad 4:1</h1>
            <p class="red-text">(300 x 75 px)</p>
            <!-- <p class="main-infos">{{ getTranslation('ONLINE.LAYER.TEXT_PARA') }}</p> -->
            <h1 class="h-bottom">72,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
        </div>
    </div>

    <div class="mobile-element">
        <div class="illustration">
            <img src="assets/img/icons/mobile-thin.svg" alt="">
            <div class="mobile-content">
                <img src="assets/img/mobile2.png" alt="">
            </div>
        </div>
        <div class="infos">
            <h1>Mobile Premium</h1>
            <p class="red-text">(300 x 150px)</p>
            <!-- <p class="main-infos">{{ getTranslation('ONLINE.LAYER.TEXT_PARA') }}</p> -->
            <h1 class="h-bottom">93,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
        </div>
    </div>

    <div class="mobile-element">
        <div class="illustration">
            <img src="assets/img/icons/mobile-thin.svg" alt="">
            <div class="mobile-content parallax">
                <img src="assets/img/mobile6.png" alt="">
                <img src="assets/img/mobile5.png" alt="">
            </div>
            <div class="parallax-ad"></div>
        </div>
        <div class="infos">
            <h1>Mobile Parallax</h1>
            <p class="red-text">{{ getTranslation('ONLINE.MOBILE.SIZE') }}</p>
            <!-- <p class="main-infos">{{ getTranslation('ONLINE.LAYER.TEXT_PARA') }}</p> -->
            <h1 >115,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
        </div>
    </div>

</div>
