<div class="container">
    <div class="row">

        <div class="element">
            <div class="illustration">
                <div class="one focus"></div>
                <div class="one focus"></div>
            </div>
            <div class="advertorial-box">
                <h2>2/1</h2>
                <div class="line"></div>
                <div class="infos">
                    <p>420 x 280 mm</p>
                    <p>+ 3 mm {{ getTranslation('PRINT.STANDARD.S1') }}</p>
                </div>

                <p class="price"><b>{{ getTranslation('PRINT.STANDARD.S7') }}</b></p>
            </div>
        </div>

        <div class="element">
            <div class="illustration">
                <div class="one grey"></div>
                <div class="one focus"></div>
            </div>
            <div class="advertorial-box">
                <h2>1/1</h2>
                <div class="line"></div>
                <div class="infos">
                    <p>210 x 280 mm</p>
                    <p>+ 3 mm {{ getTranslation('PRINT.STANDARD.S1')}}</p>
                </div>

                <p class="price"><b>{{ getTranslation('PRINT.STANDARD.S8') }}</b></p>
            </div>
        </div>

        <div class="element">
            <div class="illustration">
                <div class="one grey"></div>
                <div class="one row-small">
                    <div class="one-third-high grey"></div>
                    <div class="two-third-high focus"></div>
                </div>
            </div>
            <div class="advertorial-box">
                <h2>{{ getTranslation('PRINT.STANDARD.S2') }}</h2>
                <div class="line"></div>
                <div class="infos">
                    <p>134 x 280 mm</p>
                    <p>+ 3 mm {{ getTranslation('PRINT.STANDARD.S1')}}</p>
                </div>
                <p class="price"><b>{{ getTranslation('PRINT.STANDARD.S9') }}</b></p>
            </div>
        </div>

        <div class="element">
            <div class="illustration">
                <div class="one grey"></div>
                <div class="one row-small">
                    <div class="half-high grey"></div>
                    <div class="half-high focus"></div>
                </div>
            </div>
            <div class="advertorial-box">
                <h2>{{ getTranslation('PRINT.STANDARD.S3') }}</h2>
                <div class="line"></div>
                <div class="infos">
                    <p>102 x 280 mm</p>
                    <p>+ 3 mm {{ getTranslation('PRINT.STANDARD.S1')}}</p>
                </div>

                <p class="price"><b>{{ getTranslation('PRINT.STANDARD.S10') }}</b></p>
            </div>
        </div>

    </div>



    <!-- REIHE 2 -->



    <div class="row">

        <div class="element">
            <div class="illustration">
                <div class="one grey"></div>
                <div class="one column">
                    <div class="half-wide grey"></div>
                    <div class="half-wide focus"></div>
                </div>
            </div>
            <div class="advertorial-box">
                <h2>{{ getTranslation('PRINT.STANDARD.S4') }}</h2>
                <div class="line"></div>
                <div class="infos">
                    <p>210 x 138 mm</p>
                    <p>+ 3 mm {{ getTranslation('PRINT.STANDARD.S1')}}</p>
                </div>

                <p class="price"><b>{{ getTranslation('PRINT.STANDARD.S10') }}</b></p>
            </div>
        </div>

        <div class="element">
            <div class="illustration">
                <div class="one grey"></div>
                <div class="one row-small">
                    <div class="two-third-high grey"></div>
                    <div class="one-third-high focus"></div>
                </div>
            </div>
            <div class="advertorial-box">
                <h2>{{ getTranslation('PRINT.STANDARD.S5') }}</h2>
                <div class="line"></div>
                <div class="infos">
                    <p>73 x 280 mm</p>
                    <p>+ 3 mm {{ getTranslation('PRINT.STANDARD.S1')}}</p>
                </div>

                <p class="price"><b>{{ getTranslation('PRINT.STANDARD.S11') }}</b></p>
            </div>
        </div>

        <div class="element">
            <div class="illustration">
                <div class="one grey"></div>
                <div class="one column">
                    <div class="two-third-wide grey"></div>
                    <div class="one-third-wide focus"></div>
                </div>
            </div>
            <div class="advertorial-box">
                <h2>{{ getTranslation('PRINT.STANDARD.S6') }}</h2>
                <div class="line"></div>
                <div class="infos">
                    <p>210 x 93 mm</p>
                    <p>+ 3 mm {{ getTranslation('PRINT.STANDARD.S1')}}</p>
                </div>
                <p class="price"><b>{{ getTranslation('PRINT.STANDARD.S11') }}</b></p>
            </div>
        </div>

        <div class="element">
            <div class="illustration">
                <div class="one grey"></div>
                <div class="one column">
                    <div class="half-wide grey"></div>
                    <div class="half-wide row-small">
                        <div class="half-high grey"></div>
                        <div class="half-high focus"></div>
                    </div>
                </div>
            </div>
            <div class="advertorial-box">
                <h2>1/4</h2>
                <div class="line"></div>
                <div class="infos">
                    <p>87 x 124 mm</p>
                    <p>+ 3 mm {{ getTranslation('PRINT.STANDARD.S1')}}</p>
                </div>

                <p class="price"><b>{{ getTranslation('PRINT.STANDARD.S12') }}</b></p>
            </div>
        </div>

    </div>
</div>
