<div class="dialog-container">
    <button (click)="closeDialog()" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
    </button>
    <h1>{{ getTranslation('ONLINE.VIDEO.V13') }}</h1>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.VIDEO.V14') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.VIDEO.V15') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.VIDEO.V16') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.VIDEO.V17') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.VIDEO.V18') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.VIDEO.V19') }}
    </p>


    <!-- <h1>{{ getTranslation('ONLINE.LINKEDIN.LI12') }} 2.990,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1> -->
</div>

