<div class="dialog-container">
    <button (click)="closeDialog()" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
    </button>
    <h1>XING SPONSORED POST</h1>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.XING.XING2') }}
    </p>

    <h2>{{ getTranslation('ONLINE.XING.XING3') }}</h2>
    <ul class="target-group-list">
        <li>{{ getTranslation('ONLINE.XING.XING4') }} <span>53.000</span></li>
        <li>{{ getTranslation('ONLINE.XING.XING5') }} <span>39.000</span></li>
        <li>{{ getTranslation('ONLINE.XING.XING6') }}<span>19.000</span></li>
        <li>{{ getTranslation('ONLINE.XING.XING7') }}<span>13.000</span></li>
        <li>{{ getTranslation('ONLINE.XING.XING8') }}<span>5.000</span></li>
        <li>{{ getTranslation('ONLINE.XING.XING9') }}<span>2.000</span></li>
        <li>{{ getTranslation('ONLINE.XING.XING10') }}<span>1.000</span></li>
        <li>{{ getTranslation('ONLINE.XING.XING11') }}<span>&lt; 1.000</span></li>
        <li>{{ getTranslation('ONLINE.XING.XING12') }}<span>15.700</span></li>
    </ul>

    <p class="total">{{ getTranslation('ONLINE.LINKEDIN.LI11') }} <strong>148.000</strong></p>

    <h1>{{ getTranslation('ONLINE.LINKEDIN.LI12') }} 110,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
</div>
