<div class="dialog-container">
    <button (click)="closeDialog()" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
    </button>
    <h1>{{ getTranslation('ONLINE.NL1.TOPICS_HL') }}</h1>
    <table class="custom-table">
        <thead>
            <tr>
                <th>{{ getTranslation('ONLINE.NL1.TOPICS_DATE') }}</th>
                <th>{{ getTranslation('ONLINE.NL1.TOPICS') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE1') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS1') }}</td>
            </tr>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE2') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS2') }}</td>
            </tr>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE3') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS3') }}</td>
            </tr>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE4') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS4') }}</td>
            </tr>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE5') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS5') }}</td>
            </tr>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE6') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS6') }}</td>
            </tr>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE7') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS7') }}</td>
            </tr>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE8') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS8') }}</td>
            </tr>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE9') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS9') }}</td>
            </tr>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE10') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS10') }}</td>
            </tr>
            <tr>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS_DATE11') }}</td>
                <td>{{ getTranslation('ONLINE.NL1.TOPICS11') }}</td>
            </tr>
        </tbody>
    </table>
</div>
