<div class="dialog-container">
    <button (click)="closeDialog()" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
    </button>
    <h1>ONLINE:</h1>

    <p class="highlight-text">
       <b>{{ getTranslation('ONLINE.DD.D15') }}</b>
    </p>

    <p class="highlight-text yellow">
        {{ getTranslation('ONLINE.DD.D16') }}
    </p>

    <p class="highlight-text yellow">
        {{ getTranslation('ONLINE.DD.D17') }}
    </p>

    <p class="highlight-text yellow">
        {{ getTranslation('ONLINE.DD.D18') }}
    </p>

    <p class="highlight-text yellow">
        {{ getTranslation('ONLINE.DD.D18A') }}
    </p>

    <p class="highlight-text">
        <b>{{ getTranslation('ONLINE.DD.D19') }}</b>
    </p>

    <p class="highlight-text">
        <b>{{ getTranslation('ONLINE.DD.D20') }}</b>
    </p>
</div>