<div class="main-container">

    <div class="left">
        <div class="img1">
            <img src="assets/img/mcb2_dummy.png" alt="">
            <div class="site-bu">
                <p>{{ getTranslation('ONLINE.CONTENT.MCB_SUB1') }}</p>
            </div>
            <img class="cursor" src="assets/img/icons/cursor_blue.svg" alt="" >
        </div>     
    </div>

    <img class="arrow-right" src="assets/img/icons/arrow-right-blue.svg" alt="">

    <div class="right">
        <div class="img2c">

            <img src="assets/img/website-header2.png" alt="" class="img2">

            <div class="ad-area">
                <div class="ad1 solo-ad" (click)="openDialog(elements.ad)">
                    <img src="assets/img/icons/cursor-white.svg" alt="">
                </div>

                <div class="ad-second-row">
                    <div class="ad2 solo-ad" (click)="openDialog(elements.editorial)">
                        <div class="mcb-text" *ngFor="let _ of mcbText1">
                            <div class="mcb-pic"></div>
                            <div class="mcb-lines">
                                <div class="mcb-line" *ngFor="let _ of lines"></div>
                            </div>
                        </div>
                        <img src="assets/img/icons/cursor-white.svg" alt="">
                    </div>

                    <div class="ad3 solo-ad" (click)="openDialog(elements.extern)">
                        <div class="mcb-text" *ngFor="let _ of mcbText1">
                            <div class="mcb-pic"></div>
                            <div class="mcb-lines">
                                <div class="mcb-line" *ngFor="let _ of lines"></div>
                            </div>
                        </div>
                        <img src="assets/img/icons/cursor-white.svg" alt="">
                    </div>
                </div>
            </div> 
        </div>

        <div class="site-bu">
            <p>{{ getTranslation('ONLINE.CONTENT.MCB_SUB2') }}</p>
        </div>
        
    </div>  
</div>

<div class="advertorial-box">
    <h2>Content Box</h2>
    <ul class="advertorial-list">
        <li>{{ getTranslation('ONLINE.CONTENT.MCB1') }}</li>
        <li>{{ getTranslation('ONLINE.CONTENT.MCB2') }}</li>
        <li>{{ getTranslation('ONLINE.CONTENT.MCB3') }}</li>
    </ul>
</div>

<div class="advertorial-box">
    <h2>{{ getTranslation('ONLINE.CONTENT.MCB4') }}</h2>
    <ul class="advertorial-list">
        <li>{{ getTranslation('ONLINE.CONTENT.MCB5') }}</li>
        <li>{{ getTranslation('ONLINE.CONTENT.MCB6') }}</li>
        <li>{{ getTranslation('ONLINE.CONTENT.MCB7') }}</li>
        <li>{{ getTranslation('ONLINE.CONTENT.MCB8') }}</li>
    </ul>
</div>

<div class="advertorial-box">
    <h2>{{ getTranslation('ONLINE.CONTENT.MCB9') }}</h2>
    
    <div class="advertorial-price">
        <p>{{ getTranslation('ONLINE.CONTENT.MCB10') }}</p>
    </div>
</div>
