<div class="main-container">
    
    <div class="right">
        <div class="advertorial-box">
            <h1>TIKTOK VIDEO AD</h1>
            <div class="btn-area">
                <a mat-flat-button (click)="openDialog()"><mat-icon>chevron_right</mat-icon>{{ getTranslation('ONLINE.LINKEDIN.LI1') }}</a>
                <a mat-flat-button href="https://www.tiktok.com/@cash.magazin?_t=ZG-8uGfSmjd7nF&_r=1" target="_blank">
                    <mat-icon>chevron_right</mat-icon> {{ getTranslation('ONLINE.TIKTOK.T1') }} <br> {{ getTranslation('ONLINE.TIKTOK.T1A') }}
                </a>            
            </div>
        </div>
    </div>
    <div class="left">
        <div class="illustration">
            <img class="play" src="assets/img/icons/some-color/tiktok.webp" alt="">
            <img src="assets/img/icons/mobile-thin.svg" alt="">
            <div class="mobile-content">
            </div>
        </div>
    </div>
</div>
