<div class="information">
    <div class="company">
        <h2>{{getTranslation('ONLINE.ADSPECS.A1')}}</h2>
        <p>{{getTranslation('ONLINE.ADSPECS.A2')}}</p>
    </div>
    <div class="company">
        <h2>{{getTranslation('ONLINE.ADSPECS.A3')}}</h2>
        <p>{{getTranslation('ONLINE.ADSPECS.A4')}}</p>

    </div>
</div>
<div class="information second">
    <div class="company">
        <h2>{{getTranslation('ONLINE.ADSPECS.A5')}}</h2>
        <p>{{getTranslation('ONLINE.ADSPECS.A6')}}</p>
    </div>
    <div class="company">
        <h2>{{getTranslation('ONLINE.ADSPECS.A7')}}</h2>
        <p>{{getTranslation('ONLINE.ADSPECS.A8')}}</p>

    </div>
</div>
<div class="information second">
    <div class="company">
        <h2>{{getTranslation('ONLINE.ADSPECS.A9')}}</h2>
        <p>{{getTranslation('ONLINE.ADSPECS.A10')}} <a href="https://www.cash-online.de/impressum/agb">{{getTranslation('ONLINE.ADSPECS.A10B')}}</a></p>
        
    </div>
    <div class="company">
        <h2>{{getTranslation('ONLINE.ADSPECS.A11')}}</h2>
        <p>{{getTranslation('ONLINE.ADSPECS.A12')}}</p>
        <p>{{getTranslation('ONLINE.ADSPECS.A13')}}</p>
        <p>{{getTranslation('ONLINE.ADSPECS.A14')}}</p>

    </div>
</div>
<div class="information second">
    <div class="company">
        <h2>{{getTranslation('ONLINE.ADSPECS.A15')}}</h2>
        <p>{{getTranslation('ONLINE.ADSPECS.A16')}}</p>
    </div>
</div>
