<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>{{getTranslation('PRINT.TERMINE.H1')}}</th>
                <th>{{getTranslation('PRINT.TERMINE.H2')}}</th>
                <th>{{getTranslation('PRINT.TERMINE.H3')}}<br>{{getTranslation('PRINT.TERMINE.H4A')}}</th>
                <th>{{getTranslation('PRINT.TERMINE.H4')}}<br>{{getTranslation('PRINT.TERMINE.H4A')}}</th>
                <th>{{getTranslation('PRINT.TERMINE.H5A')}}<br>{{getTranslation('PRINT.TERMINE.H5B')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="openDialog('A2')">
                <td>{{getTranslation('PRINT.TERMINE.A2A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A2B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A2C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A2D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A2E')}}</td>
            </tr>
            <tr (click)="openDialog('A3')">
                <td>{{getTranslation('PRINT.TERMINE.A3A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A3B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A3C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A3D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A3E')}}</td>
            </tr>
            <tr class="red">
                <td>{{getTranslation('PRINT.TERMINE.SN_A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SN_B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SN_C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SN_D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SN_E')}}</td>
            </tr>
            <tr (click)="openDialog('A4')">
                <td>{{getTranslation('PRINT.TERMINE.A4A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A4B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A4C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A4D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A4E')}}</td>
            </tr>
            <tr class="red">
                <td>{{getTranslation('PRINT.TERMINE.SI_A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SI_B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SI_C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SI_D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SI_E')}}</td>
            </tr>
            <tr (click)="openDialog('A5')">
                <td>{{getTranslation('PRINT.TERMINE.A5A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A5B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A5C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A5D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A5E')}}</td>
            </tr>
            <tr class="red" >
                <td>{{getTranslation('PRINT.TERMINE.SV_A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SV_B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SV_C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SV_D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SV_E')}}</td>
            </tr>
            <tr (click)="openDialog('A6')">
                <td>{{getTranslation('PRINT.TERMINE.A6A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A6B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A6C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A6D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A6E')}}</td>
            </tr>
            <tr class="red">
                <td>{{getTranslation('PRINT.TERMINE.SIS_A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SIS_B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SIS_C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SIS_D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SIS_E')}}</td>
            </tr>
            <tr (click)="openDialog('A7')">
                <td>{{getTranslation('PRINT.TERMINE.A7A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A7B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A7C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A7D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A7E')}}</td>
            </tr>
            <tr class="red">
                <td>{{getTranslation('PRINT.TERMINE.SD_A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SD_B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SD_C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SD_D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SD_E')}}</td>
            </tr>
            <tr (click)="openDialog('A8')">
                <td>{{getTranslation('PRINT.TERMINE.A8A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A8B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A8C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A8D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A8E')}}</td>
            </tr>
            <tr (click)="openDialog('A9')">
                <td>{{getTranslation('PRINT.TERMINE.A9A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A9B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A9C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A9D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A9E')}}</td>
            </tr>
            <tr (click)="openDialog('A10')">
                <td>{{getTranslation('PRINT.TERMINE.A10A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A10B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A10C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A10D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A10E')}}</td>
            </tr>
            <tr (click)="openDialog('A11')">
                <td>{{getTranslation('PRINT.TERMINE.A11A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A11B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A11C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A11D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A11E')}}</td>
            </tr>
            <tr class="red">
                <td >{{getTranslation('PRINT.TERMINE.SV2_A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SV2_B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SV2_C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SV2_D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SV2_E')}}</td>
            </tr>
            <tr (click)="openDialog('A12')">
                <td>{{getTranslation('PRINT.TERMINE.A12A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A12B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A12C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A12D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A12E')}}</td>
            </tr>
            <tr class="red">
                <td>{{getTranslation('PRINT.TERMINE.SI2_A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SI2_B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SI2_C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SI2_D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.SI2_E')}}</td>
            </tr>
            <tr (click)="openDialog('A1')">
                <td>{{getTranslation('PRINT.TERMINE.A1A')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A1B')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A1C')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A1D')}}</td>
                <td>{{getTranslation('PRINT.TERMINE.A1E')}}</td>
            </tr>
        </tbody>
    </table>
</div>
