<mat-drawer-container class="mat-drawer-container">

    <!-- SIDEBAR -->
    <mat-drawer #drawer class="sidenav" [mode]="drawerMode" [opened]="drawerOpened">
      <div class="sidenav-top">
        <div (click)="toggleDrawer()" routerLink="/" routerLinkActive="active" class="logo">
          <img src="assets/img/cash-logo-white.png" alt="Logo">
          <h2>ONLINE {{ getTranslation('ONLINE.HEADLINE') }} 2025</h2>
        </div>
        <ul>
          <li (click)="toggleDrawer()" routerLink="/online" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> 
            <mat-icon>group</mat-icon>{{ getTranslation('ONLINE.MENU1') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/online/standard" routerLinkActive="active">
            <mat-icon>picture_in_picture</mat-icon>{{ getTranslation('ONLINE.MENU2') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/online/layer" routerLinkActive="active">
            <mat-icon>layers</mat-icon>{{ getTranslation('ONLINE.MENU3') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/online/content" routerLinkActive="active">
            <mat-icon>article</mat-icon>{{ getTranslation('ONLINE.MENU4') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/online/5vor5" routerLinkActive="active">
            <mat-icon>mail</mat-icon>{{ getTranslation('ONLINE.MENU5') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/online/onvista" routerLinkActive="active">
            <mat-icon>mail</mat-icon>Newsletter Cash. OnVista
          </li>
          <li (click)="toggleDrawer()" routerLink="/online/mobile" routerLinkActive="active">
            <mat-icon>screenshot</mat-icon>Mobile
          </li>
          <li (click)="toggleDrawer()" routerLink="/online/social" routerLinkActive="active">
            <mat-icon>chat</mat-icon>Social Media
          </li>
          <li (click)="toggleDrawer()" routerLink="/online/podcast" routerLinkActive="active">
            <mat-icon>podcasts</mat-icon>Podcast
          </li>
          <li (click)="toggleDrawer()" routerLink="/online/video" routerLinkActive="active">
            <mat-icon>smart_display</mat-icon>Cash. im Talk
          </li>
          <li (click)="toggleDrawer()" routerLink="/online/webinar" routerLinkActive="active">
            <mat-icon>co_present</mat-icon>Webinar
          </li>
        </ul>
      </div>
  
    <div class="siegel">
      <img src="assets/img/siegel1.jpg" alt="">
      <img src="assets/img/siegel2.jpg" alt="">
      <img src="assets/img/siegel3.jpg" alt="">
    </div>
    </mat-drawer>
  
    <!-- TOP BAR -->
    <div>
      <mat-toolbar class="topbar">
        <button mat-icon-button (click)="drawer.toggle()" class="icon">
          <mat-icon>menu</mat-icon>
        </button>
  
        <img routerLink="/" routerLinkActive="active" src="assets/img/cash-logo-red.png" alt="">

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(value)]="activeLang">
          <mat-button-toggle (click)="setActiveLang('de')" value="de">DE</mat-button-toggle>
          <mat-button-toggle (click)="setActiveLang('en')" value="en">EN</mat-button-toggle>
      </mat-button-toggle-group>
      </mat-toolbar>
      
  
      <!-- ROUTER CONTENT -->
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
  
    </div>
  
  </mat-drawer-container>
