<div class="main-container">
    <div class="left">
        <div class="advertorial-box">
            <h1>CASH. DIE ZWEI & DEIN GELD</h1>
            <ul class="advertorial-list">
                <li>{{ getTranslation('ONLINE.PODCAST.P2') }}</li>
                <li>{{ getTranslation('ONLINE.PODCAST.P3') }}</li>
                <li>{{ getTranslation('ONLINE.PODCAST.P4') }}</li>
            </ul>
            <div class="btn-area">
                <a mat-flat-button (click)="openDialogSponsor()"><mat-icon>chevron_right</mat-icon>{{ getTranslation('ONLINE.PODCAST.P5') }}</a>
                <a mat-flat-button (click)="openDialogSpecial()"><mat-icon>chevron_right</mat-icon>{{ getTranslation('ONLINE.PODCAST.P6') }}</a>            
            </div>
        </div>
        
    </div>
    <div class="right">
        <img src="assets/img/podcast3.png" alt="">
        <div class="play-buttons">
            <a href="#" (click)="toggleAudio($event)">
                <img [src]="isPlaying ? 'assets/img/icons/some-color/pause-solid-red.svg' : 'assets/img/icons/some-color/play-solid-red.svg'" alt="Play/Pause Icon">
            </a>
        
            <audio #audio>
                <source src="assets/audio/podcast.m4a" type="audio/mp4">
                Dein Browser unterstützt kein HTML5-Audio.
            </audio>

            <a href="https://open.spotify.com/show/2ZBYABKsuUY50c0De2l6WY?si=ae9eb25472e346c5" target="_blank"> 
                <img src="assets/img/icons/some-color/spotify2.png" alt="">
            </a>
            <a href="https://podcasts.apple.com/de/podcast/cash-podcast-die-zwei-dein-geld/id1542225387" target="_blank">
                <img src="assets/img/icons/some-color/apple-podcasts.png" alt="">
            </a>
        </div>
    </div>
</div>