<div class="table-wrapper">
    <div class="scroll-buttons" *ngIf="showScrollButtons">
        <button class="scroll-button left" (click)="scrollLeft()"><mat-icon>arrow_back</mat-icon></button>
        <button class="scroll-button right" (click)="scrollRight()"><mat-icon>arrow_forward</mat-icon></button>
    </div>

    <div class="table-container" #scrollContainer>
        <table>
            <thead>
                <tr>
                    <th>{{ getTranslation('PRINT.TOPICS_V.H1') }}</th>
                    <th>{{ getTranslation('PRINT.TOPICS_V.H2') }}</th>
                    <th>{{ getTranslation('PRINT.TOPICS_V.H3') }}</th>
                    <th>{{ getTranslation('PRINT.TOPICS_V.H4') }}</th>
                    <th>{{ getTranslation('PRINT.TOPICS_V.H5') }}</th>
                    <th>{{ getTranslation('PRINT.TOPICS_V.H6') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH1_1') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T1_1') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH1_2') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T1_2') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH1_3') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T1_3') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH1_4') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T1_4') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH1_5') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T1_5') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH1_6') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T1_6') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH1_7') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T1_7') }}</p>
                    </td>
                    <td>
                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH2_1') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T2_1') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH2_2') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T2_2') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH2_3') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T2_3') }}</p>
                    </td>
                    <td>
                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH3_1') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T3_1') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH3_2') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T3_2') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH3_3') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T3_3') }}</p>
                    </td>
                    <td>
                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH4_1') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T4_1') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH4_2') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T4_2') }}</p>
                    </td>
                    <td>
                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH5_1') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T5_1') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH5_2') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T5_2') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH5_3') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T5_3') }}</p>
                    </td>
                    <td>
                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH6_1') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T6_1') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH6_2') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T6_2') }}</p>

                        <span class="topic-title">{{ getTranslation('PRINT.TOPICS_V.SH6_3') }}</span>
                        <p>{{ getTranslation('PRINT.TOPICS_V.T6_3') }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
