<div class="dialog-container">
    <button (click)="closeDialog()" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
    </button>
    <h1>{{ getTranslation('ONLINE.WEBINAR.W16A') }}</h1>
    <h2>{{ getTranslation('ONLINE.WEBINAR.W16') }}</h2>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.WEBINAR.W17') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.WEBINAR.W18') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.WEBINAR.W19') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.WEBINAR.W20') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.WEBINAR.W21') }}
    </p>


    <!-- <h1>{{ getTranslation('ONLINE.LINKEDIN.LI12') }} 2.990,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1> -->
</div>
