<div class="main-container">
    <div class="left">
        <div class="img1">
            <img src="assets/img/adv_ph.png" alt="">
            <div class="site-bu">
                <p>{{ getTranslation('ONLINE.CONTENT.ADV_IMG1') }}</p>
            </div>
            <img class="cursor" src="assets/img/icons/cursor_blue.svg" alt="">
            
        </div>
        <img class="arrow-down" src="assets/img/icons/arrow-down-blue.svg" alt="">
        <img class="arrow-right" src="assets/img/icons/arrow-right-blue.svg" alt="">
        <div class="img2">
            <img src="assets/img/adv_site.png" alt="">
            <div class="site-bu">
                <p>{{ getTranslation('ONLINE.CONTENT.ADV_IMG2') }}</p>
            </div>
        </div>
        
    </div>
    
    <div class="right">
        <div class="advertorial-box">
            <!-- <h2>Advertorial-Angebot</h2> -->
            <ul class="advertorial-list">
                <li>{{ getTranslation('ONLINE.CONTENT.ADV1') }}</li>
                <li>{{ getTranslation('ONLINE.CONTENT.ADV2') }}</li>
                <li>{{ getTranslation('ONLINE.CONTENT.ADV3') }}</li>
                <li>{{ getTranslation('ONLINE.CONTENT.ADV4') }}</li>
                <li>{{ getTranslation('ONLINE.CONTENT.ADV5') }}</li>
                <li>{{ getTranslation('ONLINE.CONTENT.ADV6') }}</li>
            </ul>
            <div class="advertorial-price">
                <p>{{ getTranslation('ONLINE.CONTENT.ADV7') }}</p>
            </div>
        </div>
    
    
    </div>
</div>

<div class="zusatz">
    <h2>{{ getTranslation('ONLINE.CONTENT.ADV7A') }}</h2> 
    <div class="zusatz-element">
        <img src="assets/img/icons/fb-blue.svg" alt="">
        <p>{{ getTranslation('ONLINE.CONTENT.ADV8') }}</p>
    </div>
    <div class="zusatz-element">
        <img src="assets/img/icons/linkedin-blue.svg" alt="">
        <p>{{ getTranslation('ONLINE.CONTENT.ADV9') }}</p>
    </div>
    <div class="zusatz-element">
        <img src="assets/img/icons/xing-blue.svg" alt="">
        <p>{{ getTranslation('ONLINE.CONTENT.ADV10') }}</p>
    </div>
    <div class="zusatz-element">
        <img src="assets/img/icons/xing-blue.svg" alt="">
        <p>{{ getTranslation('ONLINE.CONTENT.ADV11') }}</p>
    </div>
</div>

