<div class="main-container">
    <img src="assets/img/some-bg.jpg" alt="">
    <div class="channels">
        <div class="channel" (click)="navigateTo('/online/social/channels')">
            <img src="assets/img/icons/some-white/linkedin.svg" alt="">
        </div>
        <div class="channel" (click)="navigateTo('/online/social/channels/facebook')">
            <img src="assets/img/icons/some-white/fb.svg" alt="">
        </div>
        <div class="channel" (click)="navigateTo('/online/social/channels/instagram')">
            <img src="assets/img/icons/some-white/insta.svg" alt="">
        </div>
        <div class="channel" (click)="navigateTo('/online/social/channels/xing')">
            <img src="assets/img/icons/some-white/xing.svg" alt="">
        </div>
        <div class="channel" (click)="navigateTo('/online/social/channels/tiktok')">
            <img src="assets/img/icons/some-white/tiktok.svg" alt="">
        </div>
    </div>
</div>