<mat-drawer-container class="mat-drawer-container">

    <!-- SIDEBAR -->
    <mat-drawer #drawer class="sidenav" [mode]="drawerMode" [opened]="drawerOpened">
      <div class="sidenav-top">
        <div (click)="toggleDrawer()" routerLink="/" routerLinkActive="active" class="logo">
          <button (click)="toggleDrawer()" routerLink="/" routerLinkActive="active" mat-mini-fab aria-label="Example icon button with a menu icon">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <img src="assets/img/cash-logo-white.png" alt="Logo">
          <h2>PRINT {{ getTranslation('ONLINE.HEADLINE') }} 2025</h2>
        </div>
        <ul>
          <li (click)="toggleDrawer()" routerLink="/print" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> 
            <mat-icon>new_releases</mat-icon>{{ getTranslation('PRINT.MENU1') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/print/zielgruppe" routerLinkActive="active">
            <mat-icon>group</mat-icon>{{ getTranslation('PRINT.MENU2') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/print/standard" routerLinkActive="active">
            <mat-icon>file_open</mat-icon>{{ getTranslation('PRINT.MENU3') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/print/special" routerLinkActive="active">
            <mat-icon>file_open</mat-icon>{{ getTranslation('PRINT.MENU4') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/print/exklusiv" routerLinkActive="active">
            <mat-icon>star</mat-icon>{{ getTranslation('PRINT.MENU5') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/print/extra" routerLinkActive="active">
            <mat-icon>table_bar</mat-icon>Cash. EXTRA + Roundtable
          </li>
          <li (click)="toggleDrawer()" routerLink="/print/advertorial" routerLinkActive="active">
            <mat-icon>description</mat-icon>Advertorial
          </li>
          <li (click)="toggleDrawer()" routerLink="/print/termine" routerLinkActive="active">
            <mat-icon>calendar_month</mat-icon>{{ getTranslation('PRINT.MENU7') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/print/themen" routerLinkActive="active">
            <mat-icon>format_list_bulleted</mat-icon>{{ getTranslation('PRINT.MENU8') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/print/themen-special-versicherungen" routerLinkActive="active">
            <mat-icon>format_list_bulleted_add</mat-icon>{{ getTranslation('PRINT.MENU9') }}
          </li>
          <li (click)="toggleDrawer()" routerLink="/print/rabatte" routerLinkActive="active">
            <mat-icon>percent</mat-icon>{{ getTranslation('PRINT.MENU10') }}
          </li>
          <li class="border-bottom" (click)="toggleDrawer()" routerLink="/print/beilagen" routerLinkActive="active">
            <mat-icon>menu_book</mat-icon>{{ getTranslation('PRINT.MENU11') }}
          </li>
          <li class="grey" (click)="toggleDrawer()" routerLink="/print/contact" routerLinkActive="active">
            <mat-icon>contacts_product</mat-icon>{{ getTranslation('ONLINE.MENU6') }}
          </li>
          <li class="grey" (click)="toggleDrawer()" routerLink="/print/specs" routerLinkActive="active">
            <mat-icon>info</mat-icon>{{ getTranslation('PRINT.MENU12') }}
          </li>
          <li class="grey" (click)="toggleDrawer()" routerLink="/print/agb" routerLinkActive="active">
            <mat-icon>gavel</mat-icon>AGB
          </li>


        </ul>
      </div>
  
    </mat-drawer>
  
    <!-- TOP BAR -->
    <div>
      <mat-toolbar class="topbar">
        <button mat-icon-button (click)="drawer.toggle()" class="icon">
          <mat-icon>menu</mat-icon>
        </button>
  
        <img routerLink="/" routerLinkActive="active" src="assets/img/cash-logo-red.png" alt="">

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(value)]="activeLang">
          <mat-button-toggle (click)="setActiveLang('de')" value="de">DE</mat-button-toggle>
          <mat-button-toggle (click)="setActiveLang('en')" value="en">EN</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-toolbar>
      
  
      <!-- ROUTER CONTENT -->
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
  
    </div>
  
  </mat-drawer-container>
