<div class="table-container">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>{{ getTranslation('PRINT.BEILAGEN.B1') }}</th>
                <th>{{ getTranslation('PRINT.BEILAGEN.B2') }}</th>
                <th>{{ getTranslation('PRINT.BEILAGEN.B3') }}</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td><span><b>{{ getTranslation('PRINT.BEILAGEN.B4') }}</b></span></td>
                    <td><span>{{ getTranslation('PRINT.BEILAGEN.B6') }}</span></td>
                    <td>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B7') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B8') }} <br> {{ getTranslation('PRINT.BEILAGEN.B9') }} {{ getTranslation('PRINT.BEILAGEN.B10') }}</span>
                    </td>
                    <td>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B11') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B12') }}</span>
                    </td>

                </tr>
        </tbody>
    </table>
</div>
