<div class="table-container">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>{{ getTranslation('PRINT.BEILAGEN.B1') }}</th>
                <th>{{ getTranslation('PRINT.BEILAGEN.B2') }}</th>
                <th>{{ getTranslation('PRINT.BEILAGEN.B3') }}</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td><span><b>{{ getTranslation('PRINT.BEILAGEN.B4') }}</b></span></td>
                    <td><span>{{ getTranslation('PRINT.BEILAGEN.B6') }}</span></td>
                    <td>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B7') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B8') }} <br> {{ getTranslation('PRINT.BEILAGEN.B9') }} {{ getTranslation('PRINT.BEILAGEN.B10') }}</span>
                    </td>
                    <td>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B11') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B12') }}</span>
                    </td>

                </tr>

                <tr>
                    <td><span><b>{{ getTranslation('PRINT.BEILAGEN.B5') }}</b></span></td>
                    <td>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B13') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B14') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B15') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B9') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B10') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B16') }}</span>
                    
                    
                    </td>
                    <td></td>
                    <td>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B17') }} </span>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B18') }}</span> <br><br>
                        <span><b>{{ getTranslation('PRINT.BEILAGEN.B19') }}</b></span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B20') }}</span>
                    </td>

                </tr>

                <tr>
                    <td><span><b>{{ getTranslation('PRINT.BEILAGEN.B21') }}</b></span></td>
                    <td colspan="3">
                        <span>{{ getTranslation('PRINT.BEILAGEN.B22') }}</span> 
                    </td>
                </tr>

                <tr>
                    <td><span><b>{{ getTranslation('PRINT.BEILAGEN.B23') }}</b></span></td>

                    <td>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B24') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B25') }}</span>      
                    </td>
                    <td>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B26') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B27') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B28') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B29') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B30') }}</span>
                    </td>

                    <td>
                        <span><b>{{ getTranslation('PRINT.BEILAGEN.B31') }}</b> </span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B32') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B33') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B34') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B35') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B36') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B30') }}</span>
                    </td>

                </tr>

                <tr>
                    <td><span><b>{{ getTranslation('PRINT.BEILAGEN.B37') }}</b></span></td>
                    <td colspan="3">
                        <span>{{ getTranslation('PRINT.BEILAGEN.B38') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B39') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B40') }}</span> <br><br>
                        <span><b>{{ getTranslation('PRINT.BEILAGEN.B42') }}</b></span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B43') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B44') }}</span>
                    </td>
                </tr>

                <tr>
                    <td><span><b>{{ getTranslation('PRINT.BEILAGEN.B45') }}</b></span></td>
                    <td colspan="3">
                        <span>{{ getTranslation('PRINT.BEILAGEN.B46') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B47') }}</span> <br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B48') }}</span> <br><br>
                        <span>{{ getTranslation('PRINT.BEILAGEN.B49') }}</span>
                    </td>
                </tr>
        </tbody>
    </table>

    <p>{{ getTranslation('PRINT.BEILAGEN.B50') }}</p>
</div>
