@mixin dFlex($fd: column, $jc: flex-start, $ai: center) { 
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

h1 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    margin: 0 !important;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    margin: 0;
}

.custom-dialog .mat-mdc-dialog-container {
    border-radius: 15px !important; // Hier den gewünschten Wert setzen
    max-height: 60vh; // Maximale Höhe für den Dialog
    overflow-y: auto; // Scrollbar für vertikale Überläufe
}

::ng-deep .mat-flat-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    overflow: visible !important;
}

::ng-deep .mat-flat-button .mat-button-wrapper {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.custom-mat-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    overflow: visible !important;
}