<div class="dialog-container">
    <button (click)="closeDialog()" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
    </button>
    <h1>{{ getTranslation('ONLINE.PODCAST.P6') }}</h1>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.PODCAST.P9') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.PODCAST.P10') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.PODCAST.P11') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.PODCAST.P12') }}
    </p>

    <h1>{{ getTranslation('ONLINE.LINKEDIN.LI12') }} 3.990,– {{ getTranslation('ONLINE.STANDARD.CURRENCY') }}</h1>
</div>
