<div class="dialog-container">
    <button (click)="closeDialog()" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
    </button>
    <h1>{{ getTranslation('ONLINE.PODCAST.P6') }}</h1>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.PODCAST.P9') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.PODCAST.P10') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.PODCAST.P11') }}
    </p>

    <p class="highlight-text">
        {{ getTranslation('ONLINE.PODCAST.P12') }}
    </p>

    <h1>{{ getTranslation('ONLINE.LINKEDIN.LI12') }} 
        {{ getTranslation('ONLINE.PODCAST.P14') }}
        <span style="font-weight: 400; font-size: small;">{{ getTranslation('ONLINE.CONTENT.MCB10') }}</span>
    </h1>
</div>
